

.casilla {
    width: clamp(1.5rem, 4vw, 5rem);
    height: clamp(1.5rem, 4vw, 5rem);
    margin: 0.4%;
    border: 1px solid black;
    background-color: blue;
    border-radius: 10%;
}

.casilla-postEleccion {
    width: clamp(0.5rem, 2vw, 2rem);
    height: clamp(0.5rem, 2vw, 2rem);
    margin: 0.4%;
    border: 1px solid black;
    background-color: blue;
    border-radius: 10%;
}

.casilla:hover {
    
    background-color: white;
    transition: 0.2s;
    border-radius: 25%;
}

.casilla:active {
    background-color: red;
}

.casilla.portaaviones {
    background-color: #000033;
    border-radius: 30%;
}

.casilla-postEleccion.portaaviones {
    background-color: #000033;
    border-radius: 30%;
}

.casilla-postEleccion.lancha {
    background-color: #FFFF33;
    border-radius: 30%;
}

.casilla-postEleccion.submarino {
    background-color: #3333CC ;
    border-radius: 30%;
}

.casilla-postEleccion.crucero {
    background-color: #339900;
    border-radius: 30%;
}


.casilla.lancha {
    background-color: #FFFF33;
    border-radius: 30%;
}

.casilla.submarino {
    background-color: #3333CC ;
    border-radius: 30%;
}

.casilla.crucero {
    background-color: #339900;
    border-radius: 30%;
}

.casilla.casillaAtacadaJugador {
    background-color: #FF0000;
    border-radius: 50%;
}

.casilla.casillaAtacadaAgua {
    background-color: #00FFFF;
}

.casilla-postEleccion.casillaAtacadaJugador {
    background-color: #FF0000;
    border-radius: 50%;
}

.casilla-postEleccion.casillaAtacadaAgua {
    background-color: #00FFFF;
}