
.historial-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  overflow-y: scroll;
  margin-left: 5rem;
  width: 17.6rem;
  height: 17.6rem;
  margin-top: 2rem;
  background-color: #CCCCCC;
}

.historial-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ABABAB;
    border: 1px solid black;
}

.historial-text {
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    
}