.fila {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.gameContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

}

.tableroInicio {
    display: flex;
    flex-wrap: wrap;
    
    width: 50%;
    height: 30rem;
}

.tableroPostEleccion {
    display: flex;
    flex-wrap: wrap;

    width: 20rem;
    height: 20rem;
 
}

.casilla {
    width: 9%;
    height: 100%;
    border: 1px solid black;
    background-color: blue;
}

.casilla:hover {
    background-color: white;
}

.casilla:active {
    background-color: red;
}